

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Students Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Normalize CSS -->
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/quiz/style.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>
</head>

<body>
  
              <div class="quiz-container" id="quiz">
<div class="quiz-header">
<h2 id="question">Question Text</h2>
<ul>
    <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">Answer</label>
    </li>

    <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">Answer</label>
    </li>

    <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">Answer</label>
    </li>

    <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">Answer</label>
    </li>
</ul>
</div>
<button id="submit">Submit</button>

</div>

                <!-- Admit Form Area End Here -->
          
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <!-- jquery-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Select 2 Js -->
    <script src="js/select2.min.js"></script>
    <!-- Date Picker Js -->
    <script src="js/datepicker.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- Custom Js -->
    <script src="js/main.js"></script>

<script src="/bones.js"></script>










</body>

</html>